<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties
            resource="application.properties"> <!--ссылка на файл со свойствами(ссылка на СУБД, логин, пароль и тп.)-->
    </properties>

    <environments default="development"><!--в данном блоке настраиваются подключения к БД-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers><!--в данном блоке необходимо описать маперы, которые используются в проекте-->
        <mapper class="by.pdu.library.mapper.LanguageMapper"/>
        <mapper class="by.pdu.library.mapper.ReadingRoomMapper"/>
        <mapper class="by.pdu.library.mapper.EmployeMapper"/>
        <mapper class="by.pdu.library.mapper.FineMapper"/>
        <mapper class="by.pdu.library.mapper.DepartmentMapper"/>
        <mapper class="by.pdu.library.mapper.FacultyMapper"/>
        <mapper class="by.pdu.library.mapper.GradeMapper"/>
        <mapper class="by.pdu.library.mapper.GroupMapper"/>
        <mapper class="by.pdu.library.mapper.PublishingHouseMapper"/>
        <mapper class="by.pdu.library.mapper.AuthorMapper"/>
        <mapper class="by.pdu.library.mapper.CatalogMapper"/>
        <mapper class="by.pdu.library.mapper.UserMapper"/>
        <mapper class="by.pdu.library.mapper.CardMapper"/>
    </mappers>
</configuration>